/* General Tags
 ----------------------------------------------------------------------------- */

body {
	font: 14px Arial;
	color: #303030;
}

h1 {
	font: 25px Arial;
	font-weight: bold;
	color: #000;
}

input[type="text"] {
	padding: 3px;
	border: 1px solid #b0b0b0;
	border-radius: 4px;
	background-color: #f0f0f0;
}

input[type="text"]:hover {
	background-color: #e8e8e8;
	border-color: #909090;
}

input[type="text"]:focus {
	background-color: #f8f8f8;
}

/* Common
 ----------------------------------------------------------------------------- */

.clear {
	clear: both;
}

h2 {
	font: 16px Arial;
	font-weight: bold;
}

a[target="_blank"] {
	color: blue;
}

/* Debug
 ----------------------------------------------------------------------------- */

#debug {
	height: 200px;
	border: 1px solid #aaa;
	margin: 10px 0;
	overflow: auto;
}

/* Page
 ----------------------------------------------------------------------------- */

.bio-calc-version {
	text-align: right;
	margin: 3px 0;
	color: #a0a0a0;
	display: inline;
	font-size: 10px;
}

#pageContainer {
	width: 900px;
	margin: 0 auto;
}

/* Biorhythm View
 ----------------------------------------------------------------------------- */

#bioCanvasContainer {
	width: 900px;
	margin: 0 auto;
}

#bioCanvas {
	border: 1px solid #c0c0c0;
	outline: none;
	border-radius: 5px;
	margin: 0 auto;
}

#birthdayTextBox, #firstDayTextBox {
	width: 200px;
}

/* Biorhythm Legend
 ----------------------------------------------------------------------------- */

#bioLegend {
	margin: 5px 0;
}

.bioLegendItem {
	display: inline;
	margin-left: 10px;
	float: right;
}

.bioLegendColor {
	background-color: #000000;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 3px;
}

.bioLegendLabel {
	display: inline-block;
}

/* Datetime pickers
 ----------------------------------------------------------------------------- */

.ui-datepicker {
	font: 13px Arial;
}

/* Toolbar
 ----------------------------------------------------------------------------- */

#toolbar {
	margin: 10px 0;
}

#toolbar .ui-button {
	font-size: 12px;
}

#tabs {
	font-size: 12px;
}

/* Help Dialog
 ----------------------------------------------------------------------------- */

#helpDialog, #aboutDialog {
	font-size: 12px;
}

#helpDialog p {
	text-align: justify;
}