/* General Tags
----------------------------------------------------------------------------- */

body {
    font: 14px Arial;
}

h1 {
    font: 25px Arial;
    font-weight: bold;
}

/* Common
----------------------------------------------------------------------------- */

.clear {
    clear: both;
}

/* Debug
----------------------------------------------------------------------------- */

#debug {
	height: 200px;
	border: 1px solid #aaa;
	margin: 10px 0;
	overflow: auto;
}

/* Page
----------------------------------------------------------------------------- */

#version {
	text-align: right;
	margin: 3px 0;
	color: #a0a0a0;
	display: inline;
	font-size: 10px; 
}

#pageContainer {
    width: 900px;
    margin: 0 auto;
}

/* Biorhythm View
----------------------------------------------------------------------------- */

#bioCanvasContainer {
    width: 900px;
    margin: 0 auto;
}

#bioCanvas {
	border: 1px solid #c0c0c0;
	outline: none;
	border-radius: 5px;
	margin: 0 auto;
}

/* Biorhythm Legend
----------------------------------------------------------------------------- */

#bioLegend {
    margin: 5px 0;
}

.bioLegendItem {
    display: inline;
    margin-left: 10px;
    float: right;
}

.bioLegendColor {
    background-color: #000000;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 3px;
}

.bioLegendLabel {
    display: inline-block;
}

/* DateTimes
----------------------------------------------------------------------------- */

.ui-datepicker {
    font: 13px Arial;
}